---
import BadgeEtiquetas from "@components/badge/BadgeEtiquetas.astro";
import Breadcumb from "@components/breadcumb/Breadcumb.astro";
import EtiquetasHeading from "@components/gui/EtiquetasHeading.astro";
import Layout from "@layouts/Layout.astro";

const { route, resource } = Astro.params;

const content: {
  response: {
    idarticulo: number;
    fecha: string;
    titulo: string;
    contenido: string;
    imagen: string;
    etiquetas: { idetiqueta: number; nombre: string }[];
  };
} = await fetch(
  `http://localhost:4321/api/articulos?ruta=${resource}/${route}`
).then((res) => res.json());

if (!content) {
  return Astro.redirect("/404");
}
---

<Layout title={content.response.titulo}>
  <main class="prose max-w-full p-4">
    <Breadcumb items={[{ name: content.response.titulo }]} />
    <h1>{content.response.titulo}</h1>
    <div set:html={content.response.contenido} />
    <EtiquetasHeading />
    <div class="flex gap-4 flex-wrap not-prose">
      {
        content.response.etiquetas.map((el) => (
          <BadgeEtiquetas
            nombre={el.nombre}
            ruta={`/content/articulos/etiqueta/${el.idetiqueta}`}
          />
        ))
      }
    </div>
  </main>
</Layout>
