---
import MiembrosNav from "./MiembrosNav.astro";
interface menus {
  response?: {
    dropcollapse: boolean;
    nombre: string;
    ruta: string;
    submenus: { nombre: string; ruta: string }[];
  }[];
}
const res: menus = await fetch("http://localhost:4321/api/menus").then((res) =>
  res.json()
);
---

<>
  {
    res.response?.map((menu) => {
      if (menu.ruta === "miembros") {
        return <MiembrosNav />;
      }
      if (menu.ruta === "colaboradores") {
        return <MiembrosNav colaboradores />;
      }
      if (menu.dropcollapse)
        return (
          <div
            v-else-if="menu.dropcollapse"
            class="dropdown dropdown-hover group"
          >
            <div
              tabindex="0"
              role="button"
              class="rounded-btn hover:bg-base-content/10 py-2 px-4 text-sm mb-1 flex gap-1"
            >
              {menu.nombre}

              <div class="swap swap-rotate group-hover:swap-active">
                <i class="bi bi-caret-down-fill swap-off" />
                <i class="bi bi-caret-up-fill swap-on" />
              </div>
            </div>
            <ul
              tabindex="0"
              class="dropdown-content menu bg-base-100 rounded-box z-[1] w-60 p-2 shadow"
            >
              {menu.submenus?.map((submenu) => (
                <li>
                  <a href={`/${menu.ruta}/${submenu.ruta}`}>{submenu.nombre}</a>
                </li>
              ))}
            </ul>
          </div>
        );

      return (
        <a
          v-else
          class="rounded-btn hover:bg-base-content/10 py-2 px-4 text-sm mb-1"
          href={`/${menu.ruta}`}
        >
          {menu.nombre}
        </a>
      );
    })
  }
</>
