---
import DropdownNavBar from "./DropdownNavBar.astro";
import MiembrosNav from "./MiembrosNav.astro";
interface menus {
  response?: {
    dropcollapse: boolean;
    nombre: string;
    ruta: string;
    submenus: { nombre: string; ruta: string }[];
  }[];
}
const res: menus = await fetch("http://localhost:4321/api/menus").then((res) =>
  res.json()
);
---

<>
  {
    res.response?.map((menu) => {
      if (menu.ruta === "miembros") {
        return <MiembrosNav />;
      }
      if (menu.ruta === "colaboradores") {
        return <MiembrosNav colaboradores />;
      }
      if (menu.dropcollapse)
        return (
          <DropdownNavBar>
            <Fragment slot="dropdown-name">{menu.nombre}</Fragment>
            <Fragment slot="dropdown-items">
              {menu.submenus?.map((submenu) => (
                <li>
                  <a href={`/${menu.ruta}/${submenu.ruta}`}>{submenu.nombre}</a>
                </li>
              ))}
            </Fragment>
          </DropdownNavBar>
        );

      return (
        <a
          class="rounded-btn hover:bg-base-content/10 py-2 px-4 text-sm mb-1"
          href={`/${menu.ruta}`}
        >
          {menu.nombre}
        </a>
      );
    })
  }
</>
