---
import Layout from "@layouts/Layout.astro";
import BadgeEtiquetas from "@components/badge/BadgeEtiquetas.astro";
import { Image } from "astro:assets";
import EtiquetasHeading from "@components/gui/EtiquetasHeading.astro";
import { formatDate } from "@assets/format";

const { id } = Astro.params;
interface blog {
  response?: {
    titulo: string;
    fecha: string;
    contenido: string;
    imagen: string;
    etiquetas: { idetiqueta: number; nombre: string }[];
  };
}

const blog: blog = await fetch(
  `http://localhost:4321/api/blogs?idblog=${id}`
).then((res) => res.json());

if (!blog) {
  return Astro.redirect("/404");
}

function reemplazarCarousel(contenido: string) {
  return contenido.replace(
    /;carousel-start([\s\S]*?);carousel-end/g,
    (_match, contenido: string) => {
      const images: string[] = contenido.match(/<img[^>]*>/g) || [];
      return `
      <div class="flex items-center justify-center w-full">
        <div class="carousel carousel-center bg-neutral rounded-box w-full md:w-11/12 space-x-4 p-4 revealing-image">
          ${images.map((img) => `<div class="carousel-item">${img}</div>`).join("\n")}
        </div>
      </div>`.trim();
    }
  );
}
---

<Layout title={blog.response?.titulo ?? ""}>
  <main class="prose max-w-full p-4 main-container">
    <h1>{blog.response?.titulo}</h1>
    <Image
      transition:name={`img-${id}`}
      class="object-cover aspect-video h-60 lg:h-[500px] w-full revealing-image rounded-box"
      src={blog.response!.imagen}
      width={100}
      height={100}
      loading="lazy"
      alt={blog.response!.titulo}
    />
    <span class="font-bold flex gap-2">
      <i class="bi bi-calendar-fill"></i>
      {formatDate(blog.response!.fecha, "LL")}.</span
    >
    <div set:html={reemplazarCarousel(blog.response!.contenido)} />
    <EtiquetasHeading />
    <div class="flex gap-4 flex-wrap not-prose">
      {
        blog.response?.etiquetas.map((el) => (
          <BadgeEtiquetas
            nombre={el.nombre}
            ruta={`/content/etiqueta/${el.idetiqueta}`}
          />
        ))
      }
    </div>
  </main>
</Layout>
<style is:global>
  @media (min-width: 768px) {
    .carousel {
      scrollbar-width: auto;
    }
  }
  .carousel-item img {
    margin-left: 0 !important;
    margin-right: 0 !important;
    height: 24rem;
  }
  @keyframes reveal {
    from {
      opacity: 0;
      clip-path: inset(45% 20% 45% 20%);
    }
    to {
      opacity: 1;
      clip-path: inset(0% 0% 0% 0%);
    }
  }
  .revealing-image {
    view-timeline-name: --revealing-image;
    view-timeline-axis: block;

    animation: linear reveal both;
    animation-timeline: --revealing-image;

    animation-range: entry 10% cover 40%;
  }
</style>
