---
import Layout from "@layouts/Layout.astro";
const { etiqueta } = Astro.params;

import CardBlog from "@components/cards/CardBlog.astro";

const response: {
  response: {
    idetiqueta: number;
    nombre: string;
    blogs: {
      ruta: string;
      titulo: string;
      createdAt: string;
      imagen: string;
      idblog: number;
      fecha: string;
    }[];
  };
} = await fetch(
  `http://localhost:4321/api/etiquetas?idetiqueta=${etiqueta}&includeBlogs=true`
).then((res) => res.json());

console.log(response);

if (!response) {
  return Astro.redirect("/404");
}
---

<Layout title="Secciones con la etiqueta">
  <div class="w-full prose max-w-full p-4">
    <h1 class="flex items-center gap-4 flex-wrap">
      Eventos con la etiqueta:
      <div class="badge badge-accent badge-outline not-prose h-7 flex gap-1">
        <i class="bi bi-tag-fill"></i>
        {response.response.nombre}
      </div>
    </h1>
    <main
      class="not-prose grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
    >
      {
        response.response.blogs.map((el) => (
          <CardBlog
            titulo={el.titulo}
            imagen={el.imagen}
            id={el.idblog}
            fecha={el.fecha}
          />
        ))
      }
    </main>
  </div>
</Layout>
