---
import { formatDate } from "@assets/format";
import TableMiembros from "@components/TableMiembros.vue";
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import { log } from "console";

const { id } = Astro.params;

interface icons {
  facebook: string;
  x: string;
  correo: string;
  linkedin: string;
  otro: string;
}

const miembro: {
  response: {
    nombreCompleto: string;
    puesto: string;
    imgPerfil: string;
    bio: string;
    resumen: string;
    gradoEstudio: string;
    tipoMiembro: "lider" | "miembro";
    proyectos: {
      clave: string;
      titulo: string;
      fechaInicio: string;
      fechaTermino: string;
      fechaInicioEntrega: string;
      fechaTerminoEntrega: string;
    }[];
    contactos: { tipo: string; url: string }[];
  };
} = await fetch(
  `http://localhost:4321/api/miembros?idmiembro=${id}&includeProyectos=true`
).then((res) => res.json());

/* const getMiembro = async (id: number) => {
  if (id) {
    const response = await fetch(
      `http://localhost:4321/api/miembros?idmiembro=${id}`
    ).then((res) => res.json());

    return response.response.nombreCompleto;
  }
  return "";
}; */

const redesSocialesIcon: icons = {
  facebook: "bi bi-facebook",
  x: "bi bi-twitter-x",
  correo: "bi bi-envelope-fill",
  linkedin: "bi bi-linkedin",
  otro: "bi bi-link-45deg",
};

if (!miembro || miembro.hasOwnProperty("msg")) {
  return Astro.redirect("/404");
}

console.log(miembro.response?.proyectos);

miembro.response.proyectos.forEach((el) => {
  el.fechaInicio = formatDate(el.fechaInicio, "LL");
  el.fechaTermino = formatDate(el.fechaTermino, "LL");
  el.fechaInicioEntrega = el.fechaInicioEntrega
    ? formatDate(el.fechaInicioEntrega, "LL")
    : el.fechaInicioEntrega;
  el.fechaTerminoEntrega = el.fechaTerminoEntrega
    ? formatDate(el.fechaTerminoEntrega, "LL")
    : el.fechaTerminoEntrega;
}); //formateo de fecha para evitar error de momentjs e hidratation en vue
---

<Layout
  title={`${miembro.response.gradoEstudio}. ${miembro.response.nombreCompleto}`}
>
  <main class="prose max-w-full p-4">
    <div
      class="stats md:grid-cols-2 shadow stats-vertical md:stats-horizontal w-full not-prose min-h-40"
    >
      <div class="stat flex flex-col md:inline-grid place-items-center place">
        <div class="stat-figure text-secondary size-40">
          {
            miembro.response?.imgPerfil && (
              <div class="avatar size-full">
                <div class="rounded-full">
                  <Image
                    src={miembro.response.imgPerfil}
                    alt={miembro.response.nombreCompleto}
                    class="aspect-square"
                    width={100}
                    height={100}
                    loading="eager"
                  />
                </div>
              </div>
            )
          }
          {
            !miembro.response?.imgPerfil && (
              <div class="avatar placeholder size-full">
                <div class="bg-neutral text-neutral-content rounded-full">
                  <span class="text-3xl">
                    {miembro.response.nombreCompleto.charAt(0)}
                  </span>
                </div>
              </div>
            )
          }
        </div>
        <div class="stat-value text-wrap text-center">
          {miembro.response.gradoEstudio}. {miembro.response.nombreCompleto}
        </div>
        <div class="stat-title">{miembro.response.puesto.toUpperCase()}</div>
        <div class="stat-desc text-wrap">
          {miembro.response.tipoMiembro.toUpperCase()}
        </div>
      </div>
      <div class="stat place-items-center">
        <div class="stat-figure text-secondary">
          <i class="bi bi-share-fill text-2xl"></i>
        </div>
        <div class="stat-title">Enlaces de contacto</div>
        <div
          class="stat-value text-base-content flex flex-wrap gap-4 text-wrap"
        >
          {
            miembro.response.contactos.length > 0 &&
              miembro.response.contactos.map((el) => (
                <a
                  class="hover:text-primary hover:scale-105 duration-100 ease-in"
                  href={`${el.tipo === "correo" ? "mailto:" : ""}${el.url}`}
                  aria-label={el.tipo}
                  target="_blank"
                >
                  <i class={redesSocialesIcon[el.tipo as keyof icons]} />
                </a>
              ))
          }
          {
            miembro.response.contactos.length < 1 && (
              <span>Sin información de contacto.</span>
            )
          }
        </div>
      </div>
    </div>
    <p>{miembro.response.resumen}</p>
    <h2 class="mt-0">Proyectos</h2>
    <TableMiembros
      data={miembro.response.proyectos}
      cols={[
        { header: "Clave", field: "clave" },
        { header: "Proyecto", field: "titulo" },
        {
          header: "Director(a) responsable",
          field: "director_proyecto.nombreCompleto",
          sortable: true,
        },

        {
          header: "Vigencia",
          field: "",
          formatter: "duracion",
        },
        { header: "Otros colaboradores", field: "", formatter: "colabs" },
        {
          header: "Tipo",
          field: "tipo",
          formatter: "uppercase",
          sortable: true,
        },
        {
          header: "Monto aprobado",
          field: "monto",
          sortable: true,
          formatter: "monto",
        },
        {
          header: "Fecha entrega final",
          field: "",
          formatter: "entregaFinal",
        },
        { header: "Estatus", field: "estatus", sortable: true },
      ]}
      client:visible
    />
  </main>
</Layout>
